* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    background: #dd97c4;
    color: #000;
}

.container-page {
    display: grid;
    grid-template-columns: minmax(275px, 30%) 70%;
}

.container-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0px 50px 0px;
}

address {
    font-style: normal;
}

.section {
    min-height: 1000px;
    background-color: aqua;
}

.section img {
    border-radius: 50px;
    margin: auto;
    display: block;
}

.section h3 {
    text-align: center;
}

.icon-wrapper {
    border-radius: 50px;
    border: 2px solid black;
    padding: 7px 7px 5px 7px;
    display: inline-grid;
    margin: 5px;
    width: 3em;
}

svg {
    margin: 5px;
}

.main {
    background-color: crimson;
}