* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    background: #dd97c4;
    color: #000;
}

.container-page {
    display: grid;
    grid-template-columns: minmax(275px, 30%) 70%;
}

/*section styles*/
.container-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0px 50px 0px;
}

.section {
    min-height: 1000px;
    background-color: aqua;
}

.section img {
    border-radius: 50px;
    margin: 2em auto 1em;
    display: block;
    border: 2px solid aquamarine;
}

.section h3 {
    text-align: center;
    background-color: black;
    color: aqua;
    margin-top: 2em;
}

.icon-wrapper {
    border-radius: 50px;
    border: 2px solid black;
    padding: 7px 7px 5px 7px;
    display: inline-grid;
    margin: 5px;
    width: 3em;
}

svg {
    margin: 5px;
}

.address {
    font-style: normal;
    margin: 0 2em 0;
}

.aboutme {
    margin: 0em 2em 0em;
    min-height: 20em;
}




/* main styles */
.main {
    background-color: crimson;
}